* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("/Imgs/banner.png");
  background-repeat: no-repeat;
  background-position-x: center;
}

.content {
  border: 1px solid #777777;
  border-radius: 10px;
  backdrop-filter: blur(25px);
  width: 450px;
  height: 640px;
  position: center, relative;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 30px;
  overflow: auto;
  margin: auto;
  margin-top: 55px;
}

.content::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 20px;
}

.content::-webkit-scrollbar-thumb {
  background-color: #ff9900;
  border-radius: 5px;
}

.content::-webkit-scrollbar-thumb:hover {
  background-color: chocolate;
}

.item {
  margin: 30px;
}

.form-input {
  border: 0;
  width: 97%;
  height: 35px;
  border-radius: 3px;
  margin-left: 6.7px;
}

.form-label {
  margin-left: 6.7px;
}

.form-submit {
  text-align: center;
  border: 0;
  width: 97%;
  height: 35px;
  border-radius: 3px;
  background-color: #ff9900;
  color: #f5f5f5;
  font-weight: bold;
  margin-left: 6.7px;
}

.form-submit[disabled] {
  background-color: chocolate;
  color: rgb(180, 183, 183);
}

.form-submit:hover {
  background-color: chocolate;
}

.form-group.invalid .form-message {
  color: red;
  font-size: smaller;
  margin-left: 6.7px;
}

.form-group.invalid .form-input {
  border: 2px solid red;
}

@media only screen and (max-width: 46.1875em) {
  body {
    background-image: url("/Imgs/background.png");
  }
  .content {
    margin-top: 100px;
    width: 350px;
    height: 660px;
  }
  .form-submit {
    position: absolute;
    top: 350px;
    width: 150px;
    left: 93px;
  }
}